<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>글읽기</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <body>
      <!-- 네비게이션 바 시작 -->
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">똑똑한우리집</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                    <% if(session){ %>
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a id="loginmenu" href="/board1/boardList">게시판</a>
                        </li>
                        <li>
                            <a href="/user/myhome">우리집</a>
                        </li>
                        <li>
                            <a id="loginmenu" href="/user/logOut">로그아웃</a>
                        </li>
                        <% }else{ %>
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
    
                        <li>
                            <a id="joinmenu" href="/user/joinForm">회원가입</a>
                        </li>
                        <li>
                            <a id="loginmenu" href="/user/loginForm">로그인</a>
                        </li>
                        <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
    <!-- 네비게이션 바 끝 -->
        <table border="1" style="width:600px">
            <caption><%=row.brdtitle%></caption>
            <colgroup>
                <col width='15%' />
                <col width='*%' />
            </colgroup>
            <tbody>
                <tr>
                    <td>작성자</td>
                    <td><%=row.brdwriter%></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><%=row.brdtitle%></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><%=row.brdmemo%></td>
                </tr>
            </tbody>
        </table>   
        <a href="#" onclick="history.back(-1)">글목록</a>
        <a href="boardDelete?brdno=<%=row.brdno%>">삭제하기</a>
        <a href="boardForm?brdno=<%=row.brdno%>">수정하기</a>
</body>
</html>
